# dependencies
node_modules/

# env
.env
.env.local
.env.*.local

# builds
dist/
build/
.next/
out/
coverage/

# logs
*.log
npm-debug.log*

# OS / IDE
.idea/
.DS_Store
.vscode/*
!.vscode/extensions.json